@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
}

.main_container {
  width: 1227px;
  margin: 0 auto;
}

.head_wrapper {
  background-image: url(../image/head.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

.navigation {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
  padding-top: 35px;
  margin-bottom: 135px;
}
.navigation a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.navigation .nav_button {
  background-color: #f84646;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.navigation .burger {
  display: none;
}

.bilgi {
  width: 665px;
}
.bilgi h1 {
  font-family: "Manrope", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 82px;
  margin-bottom: 20px;
}
.bilgi p {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 50px;
}

.form input {
  padding: 19px 32px 19px;
  width: 502px;
  height: 73px;
  border: none;
  border-radius: 8px;
  margin-bottom: 148px;
}
.form button {
  background-color: rgb(248, 70, 70);
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  padding: 13px 38px;
  border: none;
  border-radius: 8px;
}

.main_text {
  text-align: center;
  margin-top: 120px;
}
.main_text h2 {
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 30px;
}
.main_text p {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 90px;
}

.main_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 116px;
  margin-bottom: 140px;
}
.main_card img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.main_card h3 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
}
.main_card p {
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.background {
  background-color: #f84646;
}

.test h2 {
  padding-top: 68px;
  margin-bottom: 8px;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}
.test p {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 64px;
}

.text_vector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding-bottom: 78px;
}
.text_vector p {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.container_main {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  display: flex;
  gap: 170px;
  margin-top: 160px;
}
.section h2 {
  font-family: "Manrope", sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
  color: rgb(46, 46, 46);
}
.section p {
  color: rgb(128, 128, 128);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.section button {
  margin-top: 80px;
  background-color: rgb(248, 70, 70);
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 58px;
  border-radius: 8px;
  border: none;
  gap: 10px;
}
.section img {
  max-width: 100%;
  max-height: 100%;
}

.section_two {
  display: flex;
  gap: 145px;
  margin-top: 120px;
}
.section_two h2 {
  font-family: "Manrope", sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
  color: rgb(46, 46, 46);
}
.section_two p {
  color: rgb(128, 128, 128);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.section_two button {
  margin-top: 80px;
  background-color: rgb(248, 70, 70);
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 58px;
  border-radius: 8px;
  border: none;
  gap: 10px;
}
.section_two img {
  max-width: 100%;
  max-height: 100%;
}
.section_two .two_image {
  display: none;
}

.background_wrapper {
  background-color: rgb(244, 245, 247);
}

.wrapper_head {
  text-align: center;
  margin-top: 160px;
}
.wrapper_head h2 {
  padding-top: 59px;
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #18191f;
}
.wrapper_head p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_wrap {
  width: 946px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
  grid-template-rows: 5fr;
  gap: 24px;
  margin-top: 48px;
}
.image_wrap img {
  max-width: 170px;
  max-height: 96px;
  background-color: #fff;
  border-radius: 16px;
  padding: 15px 19px;
}
.image_wrap .book {
  padding: 30px 20px;
}
.image_wrap .ola {
  padding: 31px 29px;
}
.image_wrap .tumunu {
  padding: 22px 1.5px;
}
.image_wrap .amazon {
  padding: 32px 33px;
}

.icon_text {
  padding-top: 160px;
  text-align: center;
  margin: 0 auto;
}
.icon_text h2 {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #000;
}
.icon_text p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.icon_text button {
  background-color: rgb(248, 70, 70);
  padding: 25px 40px;
  border: none;
  border-radius: 8px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 160px;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.end {
  background-color: #f8464a;
}

.container_footer {
  width: 1196px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  padding-top: 80px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  -moz-column-gap: 154px;
       column-gap: 154px;
}
.wrapper h3 {
  color: #fff;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}
.wrapper p {
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 24px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
}

.icons_footer {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .main_container {
    max-width: 90%;
  }
  .navigation {
    margin-bottom: 96px;
  }
  .head_wrapper {
    background-image: url(../image/head.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
  }
  .bilgi {
    width: 665px;
  }
  .bilgi h1 {
    font-family: "Manrope", sans-serif;
    font-size: 56px;
    line-height: 74px;
  }
  .bilgi p {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .main_card {
    width: 764px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 116px;
    margin-bottom: 140px;
  }
  .main_card img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .main_card h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
  }
  .main_card p {
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .section {
    display: flex;
    gap: 52px;
    margin-top: 100px;
  }
  .section h2 {
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .section p {
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
  }
  .section button {
    margin-top: 46px;
    background-color: rgb(248, 70, 70);
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 58px;
    border-radius: 8px;
    border: none;
    gap: 10px;
  }
  .section img {
    max-width: 424px;
    max-height: 100%;
  }
  .section_two {
    gap: 56px;
    margin-top: 120px;
  }
  .section_two h2 {
    font-family: "Manrope", sans-serif;
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(46, 46, 46);
  }
  .section_two p {
    color: rgb(128, 128, 128);
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
  }
  .section_two button {
    margin-top: 80px;
    background-color: rgb(248, 70, 70);
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 58px;
    border-radius: 8px;
    border: none;
    gap: 10px;
  }
  .section_two img {
    max-width: 100%;
    max-height: 100%;
  }
  .section_two .one_image {
    display: none;
  }
  .section_two .two_image {
    display: block;
    max-width: 424px;
    max-height: 100%;
  }
  .background_wrapper {
    background-color: rgb(244, 245, 247);
  }
  .wrapper_head {
    text-align: center;
    margin-top: 160px;
  }
  .wrapper_head h2 {
    padding-top: 59px;
    font-family: "Manrope", sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #18191f;
  }
  .wrapper_head p {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .container_footer {
    max-width: 90%;
  }
  .wrapper {
    -moz-column-gap: 49px;
         column-gap: 49px;
  }
}
@media screen and (max-width: 380px) {
  .container {
    width: 375px;
    margin: 0 auto;
  }
  .main_container {
    max-width: 90%;
    margin: 0 auto;
  }
  .navigation {
    justify-content: space-between;
  }
  .navigation .burger {
    display: block;
  }
  a {
    display: none;
  }
  .head_wrapper {
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 164%), url(../image/head_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 255, 255);
  }
  .bilgi {
    margin-top: 62px;
    width: 335px;
  }
  .bilgi h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 58px;
    text-align: center;
  }
  .bilgi p {
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-bottom: 43px;
  }
  .bilgi form {
    display: flex;
    padding-bottom: 84px;
  }
  .bilgi form input {
    padding: 19px 32px 19px;
    width: 335px;
    height: 60px;
    border-radius: 8px;
    border: none;
    margin-bottom: 0;
  }
  .bilgi form button {
    background-color: rgb(248, 70, 70);
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding: 13px 38px;
    border: none;
    border-radius: 8px;
    white-space: nowrap;
  }
  .main_text {
    margin-top: 60px;
  }
  .main_text h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .main_text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 40px;
  }
  .main_card {
    width: 335px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    margin-bottom: 90px;
  }
  .main_card img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .main_card h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
  }
  .main_card p {
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .test h2 {
    padding-top: 68px;
    margin-bottom: 8px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    line-height: 47px;
  }
  .test p {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 64px;
  }
  .text_vector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding-bottom: 78px;
  }
  .text_vector img {
    transform: rotate(90deg);
  }
  .text_vector p {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
  .section {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 90px;
  }
  .section h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    margin-bottom: 40px;
    color: rgb(46, 46, 46);
  }
  .section p {
    color: rgb(128, 128, 128);
    font-weight: 400;
    line-height: 29px;
    text-align: center;
  }
  .section button {
    margin-top: 40px;
    background-color: rgb(248, 70, 70);
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    border-radius: 8px;
    border: none;
    gap: 10px;
    width: 338px;
    height: 48px;
  }
  .section img {
    max-width: 100%;
    max-height: 100%;
  }
  .section_two {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  .section_two h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    color: rgb(46, 46, 46);
    font-weight: 700;
    line-height: 46px;
    text-align: center;
  }
  .section_two p {
    color: rgb(128, 128, 128);
    font-size: 14px;
    font-weight: 400;
    line-height: 28.5px;
    text-align: center;
  }
  .section_two button {
    margin-top: 40px;
    background-color: rgb(248, 70, 70);
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    border-radius: 8px;
    border: none;
    gap: 10px;
    width: 338px;
    height: 48px;
  }
  .section_two img {
    max-width: 100%;
    max-height: 100%;
  }
  .section_two .two_image {
    display: block;
  }
  .image_wrap {
    width: 170px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-top: 48px;
  }
  .image_wrap img {
    max-width: 170px;
    max-height: 96px;
    background-color: #fff;
    border-radius: 16px;
    padding: 15px 19px;
  }
  .image_wrap .book {
    padding: 30px 20px;
  }
  .image_wrap .ola {
    padding: 31px 29px;
  }
  .image_wrap .tumunu {
    padding: 22px 1.5px;
  }
  .image_wrap .amazon {
    padding: 32px 33px;
  }
  .wrapper_head {
    text-align: center;
  }
  .wrapper_head h2 {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 800;
    color: #18191f;
    text-align: center;
  }
  .wrapper_head p {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  .icon_text {
    padding-top: 160px;
    text-align: center;
    margin: 0 auto;
  }
  .icon_text h2 {
    color: #000;
    font-size: 36px;
    font-weight: 800;
    line-height: 32px;
    text-align: center;
  }
  .icon_text p {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #000;
  }
  .icon_text button {
    background-color: rgb(248, 70, 70);
    padding: 25px 40px;
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 160px;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
  .container_footer {
    width: 259px;
    margin: 0 auto;
  }
  .wrapper {
    display: grid;
    padding-top: 80px;
    grid-template-columns: 1fr;
    justify-items: start;
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    -moz-column-gap: 154px;
         column-gap: 154px;
  }
  .wrapper h3 {
    color: #fff;
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .wrapper p {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 24px;
  }
  .copyright {
    display: flex;
    flex-direction: column-reverse;
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #fff;
    padding-bottom: 77px;
  }
  .icons_footer {
    display: flex;
    width: 224px;
    height: 32px;
    gap: 16px;
    margin-bottom: 62px;
  }
}/*# sourceMappingURL=style.css.map */